.background-primary {
    background-color: #f9a600
  }
.background-secondary {
    background-color: #0071de
  }
.background-success {
    background-color: #86a361
  }
.background-warning {
    background-color: #ddcd45
  }
.background-danger {
    background-color: #a7342d
  }
.background-muted {
    background-color: #868e96
  }