ul li .badge {
    text-indent: 0
}
.badge {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    background-color: #00a2f9;
    border: 2px solid #41403e;
    border-color: transparent;
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .25em .4em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap
  }
  .badge.primary {
    background-color: #f9a600
  }
  .badge.secondary {
    background-color: #0071de
  }
  .badge.success {
    background-color: #86a361
  }
  .badge.warning {
    background-color: #ddcd45
  }
  .badge.danger {
    background-color: #a7342d
  }
  .badge.muted {
    background-color: #868e96
  }