.text-primary {
    color: #f9a600
  }
.text-secondary {
    color: #0071de
  }
.text-success {
    color: #86a361
  }
.text-warning {
    color: #ddcd45
  }
.text-danger {
    color: #a7342d
  }
.text-muted {
    color: #868e96
  }