    /*
    Make sure that your main content container has position: relative;
    Otherwise your sidenotes may show up in weird places, or even off the side of the screen.
    In my case, I added position: relative; to my `body` selector.
    */
    .sidenote-note {
      background-color: transparent;
      border: solid 1px;
      border-radius: 10px;
      box-sizing: content-box;
      padding: 0.8rem;
    }
    .sidenote:hover {
      background-color: #00BFFF;
    }
    .sidenote:hover .sidenote-label {
      text-decoration: none;
    }
    .sidenote:hover .sidenote-content {
      border: dotted 3px #333;
    }
    .sidenote .sidenote-label {
      text-decoration: #333;
    }
    .sidenote-checkbox {
      display: none;
    }
    .sidenote-content {
      display: block;
      position: absolute;
      width: auto;
      max-width: 260px;
      box-sizing: border-box;
      margin-top: -3em;
      border: dotted 2px #333;
      color: #333;
      padding: 0.5rem;
      font-size: 1.25rem;
    }
    .sidenote-content.sidenote-right {
      right: 0;
      margin-right: -260px;
    }
    .sidenote-content.sidenote-left {
      left: 0;
      margin-left: -260px;
    }
    @media screen and (max-width: 960px) {
      .sidenote-content {
        position: static;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100%;
        display: none;
      }
      .sidenote-checkbox:checked ~ .sidenote-content {
        display: block;
      }
      .sidenote-content.sidenote-right {
        margin-right: 0px;
      }
      .sidenote-content.sidenote-left {
        margin-left: 0px;
      }
    }
  
    @media (prefers-color-scheme: dark) {
      .sidenote:hover {
        background-color: #666;
      }
      .sidenote:hover .sidenote-label {
        text-decoration: none;
      }
      .sidenote:hover .sidenote-content {
        border: dotted 3px #666;
      }
      .sidenote-content {
        display: block;
        position: absolute;
        width: 2600px;
        box-sizing: border-box;
        margin-top: -3em;
        border: dotted 2px #666;
        color: #ddd;
        padding: 0.5rem;
        font-size: 1.25rem;
      }
    }