{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>

  {{ $headings := findRE "<h[1-6].*?>(.|\n)+?</h[1-6]>" .Content }}

  {{ if ge (len $headings) 2 }}
  <div class="toc">
    <div class="toc-title">Table of Contents</div>
      <ol>
      {{ range $headings }}
        <li>
          {{ $id := findRE "id=\".*\"" . }}
          {{ $id = index $id 0 }}
          {{ $id = strings.TrimPrefix "id=\"" $id }}
          {{ $id = strings.TrimSuffix "\"" $id }}
          <a href="#{{ $id }}">
            {{ . | htmlUnescape | plainify }}
          </a>
          </li>
      {{ end }}
    </ol>
  </div>
  {{ end }}

  {{ .Content }}
  <p>
    <a class="back-to-lists" href="{{ "/blog" | relURL }}">Back to Lists</a>
  </p>
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a class="tag" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}