<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->

<script type="text/javascript" src="/js/lightbox.js"></script>

<!-- vanilla-back-to-top -->
<script src="/js/vanilla-back-to-top.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    addBackToTop({
      id: "backToTopButton",
      backgroundColor: "transparent",
      textColor: "transparent",
      size: 45,
      scrollDuration: 777,
      innerElement:
        '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 14l5-5 5 5H7z" fill="#011"/></svg>',
      cornerOffset: 15,
    });

    const backToTopButton = document.getElementById("backToTopButton");
    if (backToTopButton) {
      backToTopButton.style.backgroundColor = "transparent";
      backToTopButton.style.border = "none";
      backToTopButton.style.boxShadow = "none";
      backToTopButton.style.outline = "none";
    }
  });
</script>
